

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.option{
  margin: 30px;
  
}
.quote{
  width: 500px;
  text-align: center;
}


.quote-content{
  margin-bottom: 30px;
}
.quote-others{
  display: flex;
  justify-content: space-evenly;
}