

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.option{
  margin: 30px;
  
}