
.App{
  background-color: #37238d;
  min-height: 1vh;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: large;
  color: white;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.option{
  margin: 30px;
  
}
.quote{
  width: 500px;
  text-align: center;
  background-color: #d05252;
  color: white;
  border-radius: 10px;
  padding: 20px 10px;
  line-height: 1.5;
}


.quote-content{
  margin-bottom: 30px;
}
.quote-others{
  display: flex;
  justify-content: space-evenly;
}
.quote-button{
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}
.option-tag{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}